.violet{
  background-color: violet;
}
.indigo{
  background-color: indigo;
}
.blue{
  background-color: blue;
}
.yellow{
  background-color: yellow;
}
.green{
  background-color: green;
}
.orange{
  background-color: orange;
}
.red{
  background-color: red;
}
